---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Erick</title>
	</head>
	<body>
		<style>
			body {
				height: 100vh;
				font-family: 'Courier New', Courier, monospace;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			h2 {
				text-align: right;
			}
		</style>
		<div>
			<h1>Hi, I'm making something cool with this page, please comeback later.</h1>
			<br><br><br><br><br>
			<h2> -Erick</h2>
		</div>
	</body>
</html>
